name: Train SVM Model

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-train:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run SVM training script
        run: |
          python train_svm.py

      - name: Upload trained model artifact
        uses: actions/upload-artifact@v4
        with:
          name: svm-model
          path: svm_model.pkl
